@font-face {
    font-family: 'didotbold';
    src: url('http://storage.googleapis.com/static.mcomnyapps.net/imp/fonts/ufonts.com_didot-htf-b11-bold-webfont.woff2') format('woff2'),
         url('http://storage.googleapis.com/static.mcomnyapps.net/imp/fonts/ufonts.com_didot-htf-b11-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
